<%- include('../layout/admin-header.ejs'); %>
<%- include('../layout/admin-navbar.ejs'); %>
<div class="card mainContainerDeatils">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                     


                </div>
        </div>   

    </div>
</div>
  <%- include('../layout/admin-footer.ejs'); %>    