<%- include('../layout/header.ejs') %>
	</head>
	<body>
		
	<div class="colorlib-loader"></div>

	<div id="page">
    <%- include('../layout/navbar.ejs') %>
    <h1 style="margin-left: 20%;">Payment Details</h1>
    <div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-8">
                            <div class="card">
                                    <div class="card-body">
                                      <!-- <h3 class="card-title">Shipping Contact:</h3> -->
                                      <table style="margin-left: 20%;" id="contact" style="align-self: center;border: black">

                                            <tr>
                                                <td><h3>Debit Card</h3></td>
                                            </tr>
                                            <tr>
                                                <td><h3>Net Banking</h3></td>
                                            </tr>
                                            <tr>
                                                <td><h3>Credit Card</h3></td>
                                            </tr>
                                            <tr>
                                                <td><h3>Wallets</h3></td>
                                            </tr>
                                        </table>
                                      <br>
                                      <br>
                                     
                                    </div>
                                  </div>
                           
                          
                          <br>
                          <br>
                        
                    </div>
                    <div class="col-sm-4">
                           
                    </div>   
                </div>
            </div>
    </div>
	
<%- include('../layout/footer.ejs') %>