<footer>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
          <span class="text-muted">Copyright © 2019 <a class="text-green" href="https://www.bootstrapdash.com/" target="_blank">Akshay s. Joshi</a>. All rights reserved.</span>
        </div>
       
      </div>
    </div>
  </footer>
  <!-- partial -->
</div>
</div>
<!-- body wrapper -->
<!-- plugins:js -->
<script src="node_modules/material-components-web/dist/material-components-web.min.js"></script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="node_modules/chart.js/dist/Chart.min.js"></script>
<script src="node_modules/progressbar.js/dist/progressbar.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="js/misc.js"></script>
<script src="js/material.js"></script>
<!-- endinject -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Custom js for this page-->
<script src="js/dashboard.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="../js/modal.js"></script>
<script src="../js/dataTableFile.js"></script>
<!-- End custom js for this page-->
</body>
dataTableFile
</html>